| {% extends "short/base.html" %}

| {% block title %} Details of {{link.short}}! {% endblock %}

| {% block content %}

.details-page
  div
  
    | Url: {{link.url}} Short: {{link.short}} Clicks: {{link.clicks}}
| {% endblock %}
