| {% extends "short/base.html" %}

| {% block title %}Links List{% endblock %}

| {% block content %}

.index-page
  table
    thead
      tr
        th Short URL
        th URL
        th Last clicked
        th Published
    tbody
    | {% for link in links %}  
    tr
      td {{ link.short }}
      td {{ link.url }}
      td {{ link.last_access_date|date:'Y-m-d H:i' }}
      td {{ link.pub_date|date:'Y-m-d H:i' }}
    | {% endfor %}

  | {% endblock %}
