doctype html
html
  head
    meta(charset='utf-8')
    title Short links!
    |     {% load staticfiles %}
    link(rel='stylesheet', type='text/css', href="{% static 'app.css' %}")
  body
    a(href="{% url 'new' %}") Make new
    ul
      | {% for link in links %}
      li
        a(href='{{ link.url }}') {{ link.short }}
        |  {{ link.clicks }} {{ link.last_access_date|date:'Y-m-d H:i' }} {{ link.pub_date|date:'Y-m-d H:i' }}
      | {% endfor %}

    script(src="{% static 'js/jquery.min.js' %}")
    script(src="{% static 'js/what-input.min.js' %}")
    script(src="{% static 'js/foundation.min.js' %}")
    script(src="{% static 'js/app.js' %}")
